$colorWhite: #ffffff;
$colorGold: #c7b299;
$colorDarkGold: #998675;
$colorLightWhite: #fbfaf8;
$colorDarkGray: #555555;
$colorLightGray: #8c8c8c;
$colorLightOrange: #f1eee9;
$colorSpruce: #615855;
$colorDarkSpruce: #362f2d;
$colorMongoose: #a48d72;
$colorGainsboro: #dadada;
$colorNero: #191919;
$colorEclipse: #363636;
$colorDarkNero: #252525;
$colorLightGray2: #d1d1d1;
$colorSolitude: #f4f5f8;
$colorWoodBark: #211b19;
$colorBrown: #4e3427;
$colorWhisper: #ebebeb;
$colorAgateGrey: #d3c1ad;
$colorNobel: #959595;
$colorDeepSkyBlue: #00BFF3;
$colorBlack: #111111;
$colorNightRider: #333333;
$colorCharcoal: #444444;
$colorWhiteSmoke: #f2f2f2;
$colorOpacity5: rgba(0, 0, 0, .5);
$colorTransparent: rgba(255, 255, 255, 0);
$colorWhiteOpacity5: rgba(255, 255, 255, .5);
$colorOpacity: rgba(0, 0, 0, .2);

